<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>从零开始3小时Django开发个人博客系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div class="container page-header">
    <h1>从零开始3小时Django开发个人博客系统
        <small>——来SC</small>
    </h1>
</div>
<div class="container page-body">
    <div class="col-md-9" role="main">
        <div class="body-main">
            <div>
                <h2><a href="#">文章标题1</a></h2>
                <p>
                    文章缩略信息
                </p>
            </div>
            <div>
                <h2><a href="#">文章标题2</a></h2>
                <p>
                    文章缩略信息
                </p>
            </div>
            <div>
                <h2><a href="#">文章标题3</a></h2>
                <p>
                    文章缩略信息
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <h2>最新文章</h2>
            <h4><a href="#">文章标题4</a></h4>
            <h4><a href="#">文章标题3</a></h4>
            <h4><a href="#">文章标题2</a></h4>
            <h4><a href="#">文章标题1</a></h4>
        </div>
    </div>
</div>
</body>
</html>